.headers {
	background-color: #85929E;
	height: 100px;
	font-size: 50px;
	color: #EBF5FB;
	padding-left: 12px;
	/*border: 7px solid silver;*/
	width:80%;
	float: left;

}

.sign {
height: 100px;
width:8%;
background-color: #85929E;
/*margin-left:82%;
margin-top: -113px;*/
border-left: 1px solid silver;
padding-left: 12px;
color: #EBF5FB;
float: left;
}
.login {
height: 100px;
width:8%;
background-color: #85929E;
/*margin-left:90%;
margin-top: -114.3px;*/
border-left: 1px solid silver;
padding-left: 12px;
color: #EBF5FB;
float: left;
}